@import "tailwindcss";

@theme {
    --color-main-dark-clr: #0d141e;
    --color-main-skin-clr: #e69d3f;
    --color-secondary-light-clr: #121a23;
    --animate-blink: blink 3s linear infinite alternate;
    --shadow-arrow: 0 0 12px rgba(255, 255, 255, 0.534);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
}
body {
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: #0d141e;
}
::-webkit-scrollbar {
    width: 10px;
    background-color: rgb(26, 26, 26);
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(26, 26, 26);
}
::-webkit-scrollbar-thumb {
    background: #384b66;
    border-radius: 10px;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.2;
    }
}
.txt-stroke {
    -webkit-text-stroke: 0.5px white;
}
.anchor-center {
    justify-self: anchor-center;
}
.bg-gradient:hover::after {
    opacity: 1;
    transition: 0.2s ease-out;
    animation: gradient 5s ease-out infinite alternate;
}
.bg-gradient::after {
    opacity: 0;
    content: "";
    width: 100%;
    height: 49px;
    border-radius: 8px;
    transition: 0.3s ease-out;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: linear-gradient(120deg, #e69d3f, rgb(126, 7, 126), rgb(3, 206, 206), #e69d3f);
    background-size: 400% 400%;
    animation: gradient 5s ease-out infinite forwards;
}

@keyframes gradient {
	0% {
		background-position: 10% 100%;
        background: linear-gradient(0deg);
	}
	100% {
		background-position: 100% 100%;
        background: linear-gradient(360deg);
	}
}

.transition-custom {
    transition: 0.5s ease;
}



.pacman {
    display: flex;
    flex-direction: column;
  }
  
  .pacman::before, .pacman::after {
    content: "";
    display: block;
    position: relative;
    width: 44px;
    height: 22px;
    background-color: white;
    z-index: 20;
  }
  .pacman::before {
    border-radius: 50px 50px 0 0;
    animation: loader-up 0.3s alternate infinite;
  }
  .pacman::after {
    border-radius: 0 0 50px 50px;
    animation: loader-down 0.3s alternate infinite;
  }
  
  @keyframes loader-up {
    0% {
      transform: rotate(-35deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes loader-down {
    0% {
      transform: rotate(35deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .dots {
    display: flex;
    gap: 25px;
    z-index: 0;
  }
  .dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    animation: eating-dots 0.6s both infinite;
  }
  
  @keyframes eating-dots {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-28px);
    }
  }